<div class="right" *ngIf="bookmarks">
  <br>
  <h3>Bookmarks list:</h3>
  <div *ngFor='let category of ["Work","Leisure","Personal","Other"];' style="margin-left: 20px;">
  <h4>{{category}}</h4>
    <div *ngFor="let bookmark of bookmarks | async; let i = index" style="margin-left: 20px;">
      <div *ngIf="bookmark.group === category">
        
            <a [href]="bookmark.url" target="_blank"> link to {{ bookmark.name }} </a> 
            <a (click)="delBookmark(i)" >  ----- Remove {{ bookmark.name }} bookmark
          </a>
      </div>
    </div>
  </div>
</div>
