<br>
<h3>Add a new bookmark</h3>
<div class="left">
<form class="example-form">
  <table class="example-full-width" cellspacing="0"><tr>
    <td>
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="name" #name>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
       <input matInput type="text" placeholder="url" value="https://" #url>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
      <mat-label>Group</mat-label>
      <mat-select #group value="Work">
        <mat-option value="Work">Work</mat-option>
        <mat-option value="Leisure">Leisure</mat-option>
        <mat-option value="Personal">Personal</mat-option>
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
   </td>
   <button mat-raised-button color="primary" (click)="addBookmark(name.value,url.value,group.value)">Add Bookmark</button>
  </table>
</form>
</div>
